.idea/*
.DS_Store
.vscode/*
model/datasets/raw/*.csv
model/datasets/raw/*.json
model/yelp_secret.txt
model/datasets/processed/restaurants_data/*
model/datasets/processed/tripdata/*.csv
model/separate.py
model/datasets/processed/tripdata_reduced/*.csv
model/*.pyc
model/temp.py
model/.ipynb_checkpoints/*
model/20170401/*







