.idea/*
.DS_Store
.vscode/*
model/datasets/raw/*.csv
model/yelp_secret.txt
model/datasets/processed/restaurants_data/*
model/datasets/processed/tripdata/*
model/separate.py
model/datasets/tripdata_reduced/*
model/*.pyc






